[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/jpmontez/kickstart.nvim.git
