alias ll='ls -lah'
alias rsync='rsync -P'

if [[ "$(uname)" == "Darwin" ]]; then
  alias terminal-notifier='reattach-to-user-namespace terminal-notifier'
fi

alias dsclean='find . -name ".DS_Store" -delete'
